<div class="page-info">
  <h1 class="page-info__title">Characters</h1>
  <span class="page-info__subtitle"
    >Characters count:
    <span class="page-info__subtitle-count">{{ paginatorInfo().count }}</span>
  </span>
</div>
<div class="character-list">
  @let charactersArr = characters();
  <div class="character-list__main">
    <div
      class="character-list__wrapper"
      [class.character-list__wrapper--active]="charactersArr?.length"
    >
      @for (character of charactersArr; track character.id) {
        <app-character
          [isLoading]="isLoading()"
          class="character-list__item"
          [characterData]="character"
        ></app-character>
      }
    </div>
    <app-loader
      [class.character-list__loader--active]="!charactersArr?.length"
      class="character-list__loader"
    ></app-loader>
  </div>
  <app-paginator
    [isLoading]="!!charactersArr?.length"
    [paginaotrData]="paginatorInfo()"
    queryParamName="page"
  ></app-paginator>
</div>
