<div class="page-info">
  <h1 class="page-info__title">Characters</h1>
  <span class="page-info__subtitle"
    >Characters count {{ paginatorInfo().count }}
  </span>
</div>
<div class="character-list">
  @let charactersArr = characters();
  <div class="character-list__main">
    @if (charactersArr?.length) {
      @for (character of charactersArr; track character.id) {
        <app-character
          [isLoading]="isLoading()"
          class="character-list__item"
          [characterData]="character"
        ></app-character>
      }
    } @else {
      Loading...
    }
  </div>
  <app-paginator
    [isLoading]="!!charactersArr?.length"
    [paginaotrData]="paginatorInfo()"
    queryParamName="page"
  ></app-paginator>
</div>
