<div class="page-info">
  <h1 class="page-info__title">Characters</h1>
  <span class="page-info__subtitle"
    >Characters count {{ paginatorInfo().count }}
  </span>
</div>
<div class="character-list">
  @let loading = isLoading();
  <div
    class="character-list__main"
    [class.character-list__main--loader]="loading"
  >
    @for (character of characters(); track character.id) {
      <app-character
        [class.character-list__item--active]="loading"
        class="character-list__item"
        [characterData]="character"
      ></app-character>
    }
    <app-loader
      class="character-list__loader"
      [class.character-list__loader--active]="loading"
    ></app-loader>
  </div>
  <app-paginator
    [paginaotrData]="paginatorInfo()"
    queryParamName="page"
  ></app-paginator>
</div>
