.start-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  &__title {
    font-size: 34px;
    max-width: 500px;
    &-label {
      color: #11b0c8;
    }
  }
  &__quote {
    font-size: 16px;
    color: hsl(135, 54%, 52%);
    font-weight: 300;
  }
  &__subtitle {
    margin-top: auto;
  }
  &__details {
    text-align: center;
    order: 1;
  }
  &__image {
    width: 100%;
    order: 0;
    max-width: 480px;
    img {
      display: block;
      width: 345px;
      height: 482px;
    }
  }
}
@media only screen and (min-width: 720px) {
  .start-page {
    &__title {
      font-size: 72px;
    }
    &__image {
      order: 0;
      img {
        width: 480px;
        height: 670px;
      }
    }
    &__details {
      text-align: left;
      order: 0;
    }
    &__quote {
      font-size: 24px;
    }
    &__name {
      font-size: 24px;
    }
  }
}
