.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0 0 0;
  &__logo {
    width: 100%;
    max-width: 150px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__docs {
    color: #222;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
}
