.loader {
  min-height: 650px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.character {
  opacity: 0.3;
  &__image {
    border-radius: 5px;
    aspect-ratio: 1/1;
    background: linear-gradient(90deg, #e3e3e3 25%, #b9babb 50%, #e7e7e7 75%);
    background-size: 200% 100%;
    animation: loading 3s infinite;
  }
  &__name {
    margin-top: 10px;
    height: 22px;
    border-radius: 5px;
    background: linear-gradient(90deg, #e3e3e3 25%, #b9babb 50%, #e7e7e7 75%);
    background-size: 200% 100%;
    animation: loading 3s infinite;
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
