.character-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  &__arrow {
    transform: rotate(180deg);
    cursor: pointer;
  }
  &__page-title {
    margin: 0;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 0;
  }
  &__main {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__title {
    position: relative;
    margin-top: 30px;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 30px;
  }
  &__name {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
  }
  &__status {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    &--alive {
      background-color: green;
    }
    &--dead {
      background-color: red;
    }
    &--unknown {
      background-color: grey;
    }
  }
  &__species,
  &__gender,
  &__location {
    margin-top: 5px;
    font-weight: 600;
    &-label {
      font-weight: 300;
    }
    &-link {
      margin-left: 5px;
    }
  }
  &__species,
  &__location {
    margin-bottom: 0;
  }
  &__image {
    border-radius: 5px;
    height: 100px;
    width: 100px;
  }
}

.episodes {
  display: flex;
  flex-direction: column;
  &__loader {
    margin-top: 20px;
  }
  &__details {
    margin: 0px;
    font-weight: 600;
    &-label {
      font-weight: 300;
    }
  }
  &__season {
    margin-bottom: 5px;
    font-size: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    color: #222;
    height: 110px;
    border-radius: 5px;
    border: 1px solid #cecece;
    padding: 15px;
    &-title,
    &-episode,
    &-date {
      margin: 0;
    }
  }
  &__title {
    margin-top: 30px;
    font-weight: 300;
    margin: 20px 0 0;
  }
  &__season-episode {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media only screen and (min-width: 720px) {
  .character-details {
    &__image {
      width: 150px;
      height: 150px;
    }
    &__name {
      font-size: 24px;
    }
  }
}
