<div class="character-details">
  <button class="character-details__back" (click)="back()">Back</button>
  @if (characterData$ | async; as characterData) {
    <h2 class="character-details__name">
      {{ characterData.name }}
    </h2>
    <p>{{ getSpecies | templateFunc: characterData }}</p>
    @if (characterData.gender !== unknown) {}
    <p class="character-details__gender">{{ characterData.gender }}</p>
    <img
      width="350"
      height="350"
      [src]="characterData.image"
      alt="Character photo"
    />
  } @else {
    <span>Loading...</span>
  }
</div>
