<div class="character-details">
  <h2 class="character-details__page-title">
    <img
      (click)="back()"
      class="character-details__arrow"
      src="/assets/arrow.svg"
      width="20"
      height="20"
      alt="arrow"
    />
    Character
  </h2>
  @if (characterData$ | async; as characterData) {
    <div class="character-details__main">
      <img
        class="character-details__image"
        [src]="characterData.image"
        width="150"
        height="150"
        alt="Character image"
      />
      <div class="character-details__wrapper">
        <h1 class="character-details__name">
          {{ characterData.name }}
          <span
            class="character-details__status"
            [ngClass]="{
              'character-details__status--alive':
                characterData.status === 'Alive',
              'character-details__status--dead':
                characterData.status === 'Dead',
              'character-details__status--unknown':
                characterData.status === 'unknown',
            }"
          ></span>
        </h1>
        @if (characterData.location.name !== unknown) {
          <p class="character-details__location">
            <span class="character-details__location-label">Location:</span>
            <a
              class="character-details__location-link"
              [routerLink]="'/location/' + characterData.location.url"
              >{{ characterData.location.name }}</a
            >
          </p>
        }
        @if (characterData.species !== unknown) {
          <p class="character-details__species">
            <span class="character-details__species-label">Type:</span>
            {{ getSpecies | templateFunc: characterData }}
          </p>
        }
        <p class="character-details__gender">
          <span class="character-details__gender-label">Gender:</span>
          {{ characterData.gender }}
        </p>
      </div>
    </div>
    <div class="episodes">
      <h2 class="episodes__title">Episodes</h2>
      <p class="episodes__details">
        <span class="episodes__details-label">Number of episodes: </span>
        {{ episodesCount() }}
      </p>
      <div class="episodes__list" [class.epi]>
        <div
          class="episodes__wrapper"
          [class.episodes__wrapper--active]="!episodesLoading()"
        >
          @for (season of episodesData(); track season.title) {
            <h3 class="episodes__season">{{ season.title }}</h3>
            <div class="episodes__season-episode">
              @for (episode of season.episodes; track episode.id) {
                <a
                  [routerLink]="'/episode/' + episode.id"
                  [state]="episode"
                  class="episodes__item"
                >
                  <h3 class="episodes__item-title">{{ episode.name }}</h3>
                  <p class="episodes__item-episode">{{ episode.episode }}</p>
                  <span class="episodes__item-date">{{
                    episode.air_date
                  }}</span>
                </a>
              }
            </div>
          }
        </div>
        <app-loader
          class="episodes__loader"
          [class.episodes__loader--active]="episodesLoading()"
        ></app-loader>
      </div>
    </div>
  } @else {
    <app-loader></app-loader>
  }
</div>
